<dialog v-if="dialogs.includes('languages')">
    <div class="header">
        <h2>Select Language</h2>
        <button class="close" @click="closeDialog('languages')"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="languages">
        {% for language in languages %}
        <a alt="{{ language.name }}" title="{{ language.name }}" href="{{ page.url.replace(config.language.lang,language.lang) }}">
            <i style="background-image: url(/assets/flags/{{ language.flag }}.svg)"></i>
            <span>{{ language.name }}</span>
        </a>
        {% endfor %}
    </div>            
</dialog>