<a @click="openDialog('languages')" class="language-button">
  {% for language in languages %}
    {% if language.code == config.language.code %}
      <span>{{ language.name }}</span>
      <i style="background-image: url(/assets/flags/{{ language.flag }}.svg);"></i>
    {% endif %}
  {% endfor %}
</a>