.header{
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}
.header h1{
    flex-grow: 1;
    font-size: 32px;
}
.header.left-handed h1{
    text-align: right;
}
.header a{
    cursor: pointer;
    padding: 0px 10px;
    height: 48px;
    align-items: center;
    display: flex;
    border-radius: 24px;
    background-color: #FFFFFF10;
    font-size: 20px;
    color: #FFF;
    gap: 10px;
}
.header i{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
}
.header .language-button{
    min-width: fit-content;
}
@media only screen and (max-width: 480px) {
    .header .language-button span{
        display: none;
    }
    .header .language-button{
        width: 48px;
        height: 48px;
        border-radius: 24px;
        padding: 0px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .language-button i{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
}