body{
    display: flex;
    align-items: center;
    background-color: var(--color-background);
    color: var(--color-foreground);
    justify-content: center;
    min-height: 100vh;
    align-items: baseline;
}
main{
    max-width: var(--content-width);
    width: 100%;
    display: flex;
    gap: 24px;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
section{
    transition: filter 0.3s;
}
.page{
    max-width: calc(var(--content-width) - 48px - 210px);
}
.page.full-size{
    width:100%;
    max-width:100%
}
@media only screen and (max-width: 1064px) {
    .page{
        max-width: calc(var(--content-width) - 48px - 48px);
    }
}