.progress{
    width: 100%;
    background-color: var(--color-background);
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
}
.progress > *{
    height: 8px;
    background-color: var(--color-brand);
    display: inline-block;
    vertical-align: super;
}