body{
    font-family: sans-serif;
    margin: 0px;
    width: 100vw;
    overflow: hidden;
}
.players > div{
    display: flex;
}
.board{
    display: flex;
    justify-content: center;
    align-items: center;
}

.properties{
    display: flex;
    bottom: 0px;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
    z-index: 100;
    overflow-x: scroll;
    overflow-y: hidden;
}

.modals{
    background-color: #00000040;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}
.modals > div{
    position: fixed;
    width: 300px;
    height: 160px;
    background-color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modals .close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    display: block;
}
.modals .notification{
    border-radius: 8px;
    padding: 8px;
    position: relative;
    box-shadow: 0px 10px 20px #00000020;
    overflow: hidden;
}
.modals .notification .expiry{
    background-color: #000;
    position: absolute;
    bottom: 0px;
    height: 8px;
    width: 100%;
    left: 0px;
    right: 0px;
}
.modals .notification .expiry::after{
    position: absolute;
    bottom: 0px;
    height: 8px;
    width: 100%;
    left: 0px;
    animation: unload 5s linear forwards;
    z-index: 1000;
    content: "";
    background-color: #6AB2FF;
}
@keyframes unload {
    0% { 
        width: 100%;
    } 
    100% { 
        width: 0%;
    }
}

.dices{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-position: center;
    background-repeat: no-repeat;
    animation: dices-down 1s forwards;
}
.spinner{
    width: 500px;
    height: 500px;
    content: "";
    background-image: url(assets/images/glow.webp);
    position: fixed;
    transform: translate(-50%,-50%);
    background-position: center;
    animation: spin 1s linear infinite;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
}
.dice{
    border: 2px solid #000;
    width: 71px;
    height: 71px;
    animation: dice-rotation 1.5s forwards;
    background-color: #000;
}
.anim-intact{
    animation: intact 1s forwards;
}
@keyframes intact {
    0% { 
        transform: translate(-50%,-50%)scale(0,0);
        opacity: 0;
    } 
    100% { 
        transform: translate(-50%,-50%)scale(1,1);
        opacity: 1;
    }
}
@keyframes spin {
    0% { 
        transform: translate(-50%,-50%)rotate(0deg)scale(0,0);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }   
    100% { 
        transform: translate(-50%,-50%)rotate(360deg)scale(2,2);
        opacity: 1;
    }
}
@keyframes dice-rotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
        scale: 1;
        margin-left: 0px;
        margin-right: 0px;
    }
    100% {
        transform: rotate(360deg);
        scale: 2;
        margin-left: 40px;
        margin-right: 40px;
    }
}
@keyframes dices-down {
    0% {
        opacity: 0;
        margin-top: -150px;
    }
    50%{
        opacity: 1;
    }
    100% {
        margin-top: 36px;
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        scale: 1;
        opacity: 0.5;
    }
    50%{
        scale: 1.1;
        opacity: 0.8;
    }
    100% {
        scale: 1;
        opacity: 0.5;
    }
}
.blink{
    animation: blink 1s infinite;
    cursor: pointer;
}
.make-turn{
    scale: 0.5;
    transition: all 1s;
    cursor: pointer;
    display: block;
}
.make-turn:hover{
    scale: 0.6;
}

.card{
    width: 200px;
    height: 300px;
    border: 1px solid #000;
    transition: all 0.3s;
    background-color: #FFF;
    margin-bottom: -214px;
}
.card:hover{
    margin-bottom: 0px;
    z-index: 10;
    box-sizing: 0px 10px 30px #00000030;
}
.card.laid{
    opacity: 0.5;
    scale: 0.95;
    transform: rotate(-4deg);
    transition: all 1s;
}
.card label{
    border: 2px solid #FFF;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: #FFF;
    line-height: 32px;
}
.actionbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 10px;
    gap: 10px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card .purchase{
    padding: 2px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.card .purchase > *{
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.players{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.turns{
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 100;
}
.houses{
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-height: 64px;
}
.card button{
    height: 32px;
    border: 1px solid #000;
    cursor: pointer;
}



.items{
    display: flex;
    border: 1px solid #888;
    border-radius: 12px;
    padding: 8px;
    gap: 8px;
    flex-wrap: wrap;
    min-height: 200px;
    margin-top: 10px;
}
.items .item{
    position: relative;
    border: 1px dashed #888;
    border-radius: 8px;
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.items .item:hover{
    border: 1px solid #888;
}




/* 3D Вьюпорт */
body > canvas{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 323px;
    width: 100%;
    height: calc(100vh - 323px);
    overflow: hidden;
    z-index: 2;
}

.tabs{
    display: flex;
    width: 100%;
}
.tabs a{
    display: block;
    line-height: 42px;
    border: 1px solid #888;
    border-radius: 8px;
    border-bottom: 0px;
    flex-grow: 1;
}