---
title: "Bio"
pagination:
  data: languages
  size: 1
  alias: lang
permalink: "{{ lang.lang }}/bio/index.html"

eleventyComputed:
  config:
    jsp: "bio"
    schema: "main"
    language:
      code: "{{ lang.code }}"
      lang: "{{ lang.lang }}"
      style: "{{ lang.style }}"
  title: "{{ locale.btn_bio[lang.code] }}"

layout: "base.njk"
---
