---
pagination:
  data: languages
  size: 1
  alias: lang
permalink: "{{ lang.lang }}/index.html"

eleventyComputed:
  config:
    schema: "main"
    jsp: ""
    language:
      code: "{{ lang.code }}"
      lang: "{{ lang.lang }}"
      style: "{{ lang.style }}"
  title: "{{ locale.btn_main[lang.code] }}"

layout: "base.njk"
---
